.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 50vh;
    padding: 10rem;
}

.emptyCart > svg {
    color: tomato;
    font-size: 5rem;
}

.emptyCart > p {
    font-size: 2rem;
}

.emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    font: 400 1rem "Roboto";
    text-decoration: none;
}

.cartPage {
    padding: 5rem;
    margin-top: 5rem;
}
.cartHeader {
    background-color: tomato;
    width: 90%;
    box-sizing: border-box;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 1rem "Roboto";
}

.cartHeader > p {
    margin: 15px;
}
.cartHeader > p:last-child {
    text-align: end;
}

.cartContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.cartContainer > .subtotal {
    display: flex;
    padding: 0.5rem;
    font: 300 1rem cursive;
    box-sizing: border-box;
    justify-content: flex-end;
    height: 8rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.777);
}

.cartInput {
    display: flex;
    align-items: center;
    height: 8rem;
}

.cartInput > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.cartInput > button:hover {
    background-color: rgba(0, 0, 0, 0.777);
}

.cartInput > input {
    border: none;
    padding: 0.5rem;
    outline: none;
    text-align: center;
    width: 2rem;
    font: 400 0.8rem "Roboto";
    color: rgba(0, 0, 0, 0.77);
}

.cartGross {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.cartGrossBox {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-top: 3px solid tomato;
    margin: 1rem 4rem 0;
    padding: 1.2rem 0rem;
    font: 300 1rem "Roboto";
}

.checkOutButton {
    display: flex;
    justify-content: flex-end;
}

.checkOutButton > button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 0.8rem 4rem;
    width: 50%;
    font: 300 0.8rem "Roboto";
    margin: 1rem 4rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.5s;
}

.checkOutButton > button:hover {
    background-color: rgb(248, 69, 37);
}

@media screen and (max-width: 600px) {
    .cartPage {
        padding: 0;
        padding-top: 3rem;
        /* min-height: 60vw; */
    }
    .cartHeader {
        width: 100%;
        font: 300 1rem "Roboto";
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartContainer {
        width: 100%;

        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartInput {
        flex-direction: flex-start;
    }

    .cartGross {
        display: grid;
        grid-template-columns: 0fr 2fr;
    }

    .cartGrossBox {
        /* padding: 2rem; */
        font: 300 2rem "Roboto";
        justify-content: space-between;
    }

    .checkOutButton > button {
        padding: 1rem 1rem;
        width: 100%;
        font: 300 2rem "Roboto";
    }
}
