.myOrdersPage {
    width: 100vw;
    max-width: 100%;
    padding: 0rem 5rem;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 5rem;
    height: 80%;
    display: flex;
    flex-direction: column;
}

#myOrdersHeading {
    text-align: center;
    font: 400 1.2rem "Roboto";
    background-color: rgb(44, 44, 44);
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: all 0.5s;
}

.myordersTable {
    height: 50vh;
    background-color: white;
}

.myordersTable > div {
    font: 300 1rem "Roboto";
    color: rgb(0, 0, 0, 0.67);
    border: none;
}

.myordersTable a {
    color: rgb(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.myordersTable a:hover {
    color: tomato;
}

.MuiDataGrid-columnHeader {
    background-color: tomato;
    padding: 1rem !important;
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    font: 500 1.1rem "Roboto" !important;
}

@media screen and (max-width: 600px) {
    .myOrdersPage {
        padding: 0;
        margin-top: 7rem;
        height: 87vh;
    }
}
