.orderDetailsPage {
    background-color: inherit;
}

.orderDetailsContainer > h1 {
    color: tomato;
    font: 300 3vmax "Roboto";
    margin: 3rem 0;
}

.orderDetailsContainer {
    padding: 5rem;
    padding-bottom: 0%;
}

.orderDetailsContainer > p {
    font: 400 1.8rem "Roboto";
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
    margin: 2rem;
}

.orderDetailsContainerBox > div {
    display: flex;
    margin: 1rem 0;
}

.orderDetailsContainerBox > div > p {
    font: 400 1rem "Roboto";
    color: black;
}
.orderDetailsContainerBox > div > span {
    margin: 0 1rem;
    font: 100 1rem "Roboto";
    color: #575757;
}

.orderDetailsCartItems {
    padding: 2rem 5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.orderDetailsCartItemsContainer > div {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font: 400 1rem "Roboto";
}

.orderDetailsCartItemsContainer > div > img {
    width: 3rem;
}

.orderDetailsCartItemsContainer > div > a {
    color: #575757;
    margin: 0 2rem;
    width: 60%;
    text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
    font: 100 1rem "Roboto";
    color: #5e5e5e;
}

@media screen and (max-width: 600px) {
    .orderDetailsContainer > p {
        font: 400 6vw "Roboto";
    }
    .orderDetailsContainerBox > div {
        margin: 6vw 0;
    }
    .orderDetailsContainerBox > div > p {
        font: 400 4vw "Roboto";
    }

    .orderDetailsContainerBox div > span {
        font: 100 4vw "Roboto";
    }
    .orderDetailsCartItemsContainer > div > img {
        width: 10vw;
    }
    .orderDetailsCartItemsContainer > div > a {
        margin: 2vw;
        width: 30%;
    }
}
