.shippingContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shippingBox {
    background-color: inherit;
    max-width: 45vw;
    height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
}

.shippingHeading {
    padding: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3rem "Roboto";
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}

.shippingForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin: auto;
    height: 80%;
    transition: all 0.5s;
}

.shippingForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.shippingForm > div > input,
.shippingForm > div > select {
    padding: 1rem 4rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
}

.shippingForm > div > svg {
    position: absolute;
    margin-left: 1rem;
    font-size: 1.6rem;
}

.shippingBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1rem "Roboto";
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 2rem;
    outline: none;
}

.shippingBtn:hover {
    background-color: rgb(233, 45, 12);
}

@media screen and (max-width: 768px) {
    .shippingBox {
        max-width: 100vw;
        height: 100vh;
    }

    .shippingHeading {
        font: 400 6vw "Roboto";

        padding: 5vw;
    }

    .shippingForm {
        padding: 11vw;
    }
    .shippingForm > div {
        margin-bottom: 1rem;
    }
    .shippingForm > div > input,
    .shippingForm > div > select {
        /* padding: 3vh 10vw; */
        font: 300 4vw cursive;
    }
}
