.speedDail {
    position: absolute;
    right: 25px;
    top: 26px;
    height: 5px;
    width: 10px;
    border-radius: 100%;
}

.speedDialIcon {
    width: 40px;
    /* height: 60px; */

    border-radius: 100%;
    object-fit: contain;
}

/*  */
/* ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    margin-bottom: 1rem;
}

a {
    color: black;
    text-decoration: none;
    font: bold 22px sans-serif;
}

a:hover {
    color: darkcyan;
} */

/* .navbar {
   
    position: sticky;
    position: -webkit-sticky;
    top: 0;
     

 
    background-color: #000;
    padding: 10px 5%;

 
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .logo-image {
    display: block;
    height: 48px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu-item {
    display: inline-block;
    margin-left: 10px;
}

.bar {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px auto;
}
.menu-icon {
    display: none;
    color: black;
} */

/* @media screen and (max-width: 600px) {
    a > svg {
        color: black;
    }
    a {
        color: black;
    }
    .speedDail {
        top: 2rem;
    }
} */

@media screen and (max-width: 900px) {
    .speedDail {
        top: 2rem;
    }
}

/* @media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .logo-container {
        width: 100%;
    }

    .nav-menu {
        width: 100%;
    }

    .menu-item {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-align: end;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 5%;
    }

    .menu-icon:hover .bar {
        background-color: darkcyan;
    }
} */
