.nav-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    margin-bottom: 2rem /* 32px */;
}

.nav-wrapper {
    width: 100%;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    padding-top: 2rem /* 32px */;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.block {
    display: block;
}

.logo-wrapper {
    cursor: pointer;
    font-weight: 700;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
}
.text-blue {
    color: blue;
}

.absolute {
    position: absolute;
}
.inset-x-\[8\%\] {
    left: 8%;
    right: 8%;
}
.top-\[7rem\] {
    top: 7rem /* 112px */;
}
.z-\[999999\] {
    z-index: 999999;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.rounded-\[18px\] {
    border-radius: 18px;
}
.active\:scale-100:active {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transition {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.inline-flex {
    display: inline-flex;
}
.p-\[4\%\] {
    padding: 4%;
}
.px-\[3\%\] {
    padding-left: 3%;
    padding-right: 3%;
}
.hidden {
    display: none;
}
.items-center {
    align-items: center;
}
.p-\[8px_2px\] {
    padding: 8px 2px;
}
.text-lg {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
}
.capitalize {
    text-transform: capitalize;
}
.font-\[700\] {
    font-weight: 700;
}
.leading-\[1\.22em\] {
    line-height: 1.22em;
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.duration-300 {
    transition-duration: 300ms;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:text-yellow-500:hover {
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity));
}
.hover\:-translate-y-1:hover {
    --tw-translate-y: -0.25rem /* -4px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px) {
    .nav-container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .nav-container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .nav-container {
        max-width: 1024px;
    }
    .lg\:contents {
        display: contents;
    }
    .lg\:\!border-none {
        border-style: none !important;
    }
    .lg\:static {
        position: static;
    }
    .lg\:\!inset-x-\[0\%\] {
        left: 0% !important;
        right: 0% !important;
    }
    .lg\:\!top-\[0\%\] {
        top: 0% !important;
    }
    .lg\:z-\[99999\] {
        z-index: 99999;
    }
    .lg\:w-\[60\%\] {
        width: 60%;
    }
    .lg\:flex-row {
        flex-direction: row;
    }
    .lg\:justify-around {
        justify-content: space-around;
    }
    .lg\:rounded-\[0px\] {
        border-radius: 0px;
    }
    .lg\:p-\[0\%\] {
        padding: 0%;
    }
    .lg\:px-\[0\%\] {
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media (min-width: 1280px) {
    .nav-container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .nav-container {
        max-width: 1536px;
    }
}
