#footer {
    /* box-sizing: border-box; */
    margin-top: 7rem;
    padding: 1rem;
    /* background-color: rgba(34, 33, 33); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 30vh;
    width: 100%;

    margin-bottom: 0;
    overflow: hidden;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1597%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1598)'%3e%3c/rect%3e%3cpath d='M1249.78 53.31L1270.13 53.31L1270.13 81.11L1249.78 81.11z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1065.56 157.93L1109.51 157.93L1109.51 201.88L1065.56 201.88z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M994.3 429.49a34.71 34.71 0 1 0 7.31 69.03z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M781.79 95.04 a21.17 21.17 0 1 0 42.34 0 a21.17 21.17 0 1 0 -42.34 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M962.65 552.58L968.99 552.58L968.99 583.37L962.65 583.37z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M76.51 131.29L113.49 131.29L113.49 168.27L76.51 168.27z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M312.64 19.99 a50.09 50.09 0 1 0 100.18 0 a50.09 50.09 0 1 0 -100.18 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1302.63 350.21L1319.75 350.21L1319.75 400.71L1302.63 400.71z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M765.18 196.96L820.18 196.96L820.18 245.17L765.18 245.17z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M719.37 539.97L741.75 539.97L741.75 562.35L719.37 562.35z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M165.52 352.48L182.76 352.48L182.76 388.05L165.52 388.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M713.33 80.44a11.24 11.24 0 1 0-22.31-2.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M43.6 499.68L86.9 499.68L86.9 549.68L43.6 549.68z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M276.4 418.21L298.42 418.21L298.42 432.06L276.4 432.06z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1278.04 345.63L1281.15 345.63L1281.15 348.74L1278.04 348.74z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1342.18 345.98 a17.94 17.94 0 1 0 35.88 0 a17.94 17.94 0 1 0 -35.88 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M454.31 11.33L479.79 11.33L479.79 36.81L454.31 36.81z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M891.29 497.04L902.85 497.04L902.85 502.85L891.29 502.85z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1058.85 324.97 a17.69 17.69 0 1 0 35.38 0 a17.69 17.69 0 1 0 -35.38 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M511.15 487.05 a12.37 12.37 0 1 0 24.74 0 a12.37 12.37 0 1 0 -24.74 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1068.1 50.89a4.8 4.8 0 1 0-7.21 6.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M932.71 392.45a54.21 54.21 0 1 0-98.37-45.56z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M975.61 418.84L1030.25 418.84L1030.25 473.48L975.61 473.48z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M422.72 368.83a19.05 19.05 0 1 0-24.5-29.18z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M2.57 62.46L26.19 62.46L26.19 69.29L2.57 69.29z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M332.83 163.19a20.62 20.62 0 1 0-35.01-21.78z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M664.05 439.24L719.61 439.24L719.61 455.82L664.05 455.82z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M324.8 316.3L362.15 316.3L362.15 337.56L324.8 337.56z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M852.68 141.32a27.21 27.21 0 1 0-38.11 38.85z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M884.83 375.38 a14.08 14.08 0 1 0 28.16 0 a14.08 14.08 0 1 0 -28.16 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M32.72 245L54.74 245L54.74 253.94L32.72 253.94z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M174.61 43.56 a23.85 23.85 0 1 0 47.7 0 a23.85 23.85 0 1 0 -47.7 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M24.27 437.79L44.93 437.79L44.93 458.45L24.27 458.45z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1597'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1598'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.21'%3e%3c/stop%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.21'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.leftFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFooter > p {
    font-size: 2vmax;
    text-align: center;
}

.leftFooter > img {
    width: 10vmax;
    height: 5vmax;
    cursor: pointer;
}

.leftFooter > h4 {
    font-size: 2vmax;
}

.midFooter {
    width: 60%;
    text-align: center;
}

.midFooter > h1 {
    font-size: 6vmax;
    color: #eb4034;
}

.midFooter > p {
    max-width: 60%;
    margin: 1vmax auto;
}

.midFooter > p > span {
    color: #eb4034;
}
.rightFooter {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.rightFooter > h4 {
    font-size: 3vmax;
}

.rightFooter > a {
    text-decoration: none;
    font-size: 2vmax;
    color: white;
    margin: 0.5vmax;
    transition: all 0.5s;
}

.rightFooter > a:hover {
    color: #eb4034;
}

/*  */

.footerContainer {
    margin-top: 50%;
    padding: 1rem;

    max-width: 100%;
    /*  */
    min-height: 30vh;
    width: 100vw;
    margin: 5rem auto;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: ${(props) => props.theme.body}; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1597%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1598)'%3e%3c/rect%3e%3cpath d='M1249.78 53.31L1270.13 53.31L1270.13 81.11L1249.78 81.11z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1065.56 157.93L1109.51 157.93L1109.51 201.88L1065.56 201.88z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M994.3 429.49a34.71 34.71 0 1 0 7.31 69.03z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M781.79 95.04 a21.17 21.17 0 1 0 42.34 0 a21.17 21.17 0 1 0 -42.34 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M962.65 552.58L968.99 552.58L968.99 583.37L962.65 583.37z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M76.51 131.29L113.49 131.29L113.49 168.27L76.51 168.27z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M312.64 19.99 a50.09 50.09 0 1 0 100.18 0 a50.09 50.09 0 1 0 -100.18 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1302.63 350.21L1319.75 350.21L1319.75 400.71L1302.63 400.71z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M765.18 196.96L820.18 196.96L820.18 245.17L765.18 245.17z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M719.37 539.97L741.75 539.97L741.75 562.35L719.37 562.35z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M165.52 352.48L182.76 352.48L182.76 388.05L165.52 388.05z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M713.33 80.44a11.24 11.24 0 1 0-22.31-2.79z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M43.6 499.68L86.9 499.68L86.9 549.68L43.6 549.68z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M276.4 418.21L298.42 418.21L298.42 432.06L276.4 432.06z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1278.04 345.63L1281.15 345.63L1281.15 348.74L1278.04 348.74z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1342.18 345.98 a17.94 17.94 0 1 0 35.88 0 a17.94 17.94 0 1 0 -35.88 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M454.31 11.33L479.79 11.33L479.79 36.81L454.31 36.81z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M891.29 497.04L902.85 497.04L902.85 502.85L891.29 502.85z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1058.85 324.97 a17.69 17.69 0 1 0 35.38 0 a17.69 17.69 0 1 0 -35.38 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M511.15 487.05 a12.37 12.37 0 1 0 24.74 0 a12.37 12.37 0 1 0 -24.74 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1068.1 50.89a4.8 4.8 0 1 0-7.21 6.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M932.71 392.45a54.21 54.21 0 1 0-98.37-45.56z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M975.61 418.84L1030.25 418.84L1030.25 473.48L975.61 473.48z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M422.72 368.83a19.05 19.05 0 1 0-24.5-29.18z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M2.57 62.46L26.19 62.46L26.19 69.29L2.57 69.29z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M332.83 163.19a20.62 20.62 0 1 0-35.01-21.78z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M664.05 439.24L719.61 439.24L719.61 455.82L664.05 455.82z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M324.8 316.3L362.15 316.3L362.15 337.56L324.8 337.56z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M852.68 141.32a27.21 27.21 0 1 0-38.11 38.85z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M884.83 375.38 a14.08 14.08 0 1 0 28.16 0 a14.08 14.08 0 1 0 -28.16 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M32.72 245L54.74 245L54.74 253.94L32.72 253.94z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M174.61 43.56 a23.85 23.85 0 1 0 47.7 0 a23.85 23.85 0 1 0 -47.7 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M24.27 437.79L44.93 437.79L44.93 458.45L24.27 458.45z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1597'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1598'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.21'%3e%3c/stop%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.21'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    position: relative;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoContainer > h3 {
    font-family: "Kaushan Script";
    font-size: 4rem;
}

.footerComponent {
    width: 80vw;
}

.footerComponent > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
    margin-top: 4rem;
    padding: 0 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footerComponent > ul > li {
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footerComponent > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.footerComponent > ul > li:hover {
    transform: scale(1.1);
}

@media (max-width: 48em) {
    .footerComponent {
        width: 90vw;
    }

    .footerComponent > ul {
        justify-content: center;
    }

    .footerComponent > ul > li {
        padding: 2rem;
        font-size: 1.2rem;
    }
}
