.sidebar {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}

.sidebar > a:first-child {
    padding: 0;
}

.sidebar > a > img {
    width: 100%;
    transition: all 0.5s;
}

.sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px tomato);
}

.sidebar a {
    text-decoration: none;
    transition: all 0.5s;
    color: rgb(0, 0, 0, 0.45);
    padding: 2rem;
    font: 200 1rem "Roboto";
}

.sidebar a:hover {
    color: tomato;
    transform: scale(1.1);
}
.sidebar a > p {
    display: flex;
    align-items: center;
}

.sidebar a > p > svg {
    margin-right: 0.5rem;
}
