.banner {
    /* background-image: linear-gradient(to top, #72c8f0, #008ed0); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3280' height='1440' preserveAspectRatio='none' viewBox='0 0 3280 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1582%26quot%3b)' fill='none'%3e%3crect width='3280' height='1440' x='0' y='0' fill='rgba(15%2c 99%2c 88%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c141 C 164%2c217.4 492%2c487.6 820%2c523 C 1148%2c558.4 1312%2c337.6 1640%2c318 C 1968%2c298.4 2132%2c441.6 2460%2c425 C 2788%2c408.4 3116%2c273 3280%2c235L3280 1440L0 1440z' fill='rgba(27%2c 171%2c 152%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c1182 C 218.8%2c1137.4 656.4%2c949.4 1094%2c959 C 1531.6%2c968.6 1750.8%2c1272.4 2188%2c1230 C 2625.2%2c1187.6 3061.6%2c843.6 3280%2c747L3280 1440L0 1440z' fill='rgba(53%2c 237%2c 213%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1582'%3e%3crect width='3280' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 60vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner > div {
    margin-top: 5rem;
}

.banner > div > a > button {
    /* margin-top: 5vmax; */
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    width: 9vmax;
    transition: all 0.5s;
    font: 600 1.5vmax "Roboto";
}
.banner > div > a > button:hover {
    background-color: #41afe3;
}

/* .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 67%, 0% 100%, 100% 100%);
    max-width: 100%;
} */

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 2vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 30vmax;
    padding: 1vmax;
    margin: 14vmax auto;

    color: rgba(0, 0, 0, 0.563);
}

.container {
    display: flex;
    margin: 2rem auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

/* Product component */

.productCard {
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 3vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: 0 0 2px rgba(15, 15, 15, 0.3);
}
.productCard > img {
    width: 15rem;
    max-height: 10rem;
    object-fit: contain;
}
.productCard > div {
    margin: 0.6vmax;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.productCardSpan {
    margin: 0.2rem;
    font: "Roboto";
}

.productCard > p {
    font-family: "Roboto";
    font-size: 1.3rem;
    margin: 1rem 0.5rem;
    margin-bottom: 0;
}

.productCard > span {
    margin: 0.5rem;
    color: tomato;
    font-family: "Franklin Gothic Medium";
    font-weight: 600;
    font-size: 1.2rem;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.3);
    transform: translateY(-1rem);
}

@media screen and (max-width: 400px) {
    .banner {
        height: 90vmin;
    }
}

@media screen and (max-width: 600px) {
    /* .banner {
        height: 90vmin;
    } */
    .banner > div > p {
        font-size: 1.2rem;
        margin-top: 3rem;
    }

    .banner > div > h1 {
        font-size: 1.4rem;
        /* margin-top: 3rem; */
    }

    .productCard > p {
        font-size: 2rem;
    }
    .productCard > div {
        display: block;
        text-align: start;
    }
    .productCard > div > span {
        margin: 0;
        font: 400 1rem "Roboto", "Helvetica Neue", Helvetica, Arial;
    }
    .productCard > span {
        font-size: 1.5rem;
    }
}
