.updatePasswordContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.updatePasswordBox {
    background-color: white;
    min-width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.updatePasswordHeading {
    text-align: center;
    font: 400 1.5rem "Roboto";
    color: rgba(0, 0, 0, 0.618);
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}

.updatePasswordForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 2rem;
    height: 70%;
    transition: all 0.5s;
}

.updatePasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm > div > input {
    padding: 1rem 4rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    font: 300 1rem cursive;
    outline: none;
}

.updatePasswordForm > div > svg {
    position: absolute;
    transform: translateX(1rem);
    font-size: 1.7rem;
    /* color: rgba(0, 0, 0, 0.63); */
    color: tomato;
}

.updatePasswordForm > div > svg:last-child {
    position: static;
    /* transform: translateX(-2rem); */

    font-size: 1.7rem;
    /* color: rgba(0, 0, 0, 0.63); */
    color: tomato;
}

.updatePasswordForm > div > svg:last-child :hover {
    cursor: pointer;
}

.updatePasswordForm > a {
    color: rgba(0, 0, 0, 0.618);
    text-decoration: none;
    align-self: flex-end;
    font: 500 1rem "Gill Sans";
    transition: all 0.5s;
}

#updatePasswordImage > img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 100%;
    margin: 1rem;
}

#updatePasswordImage > input {
    display: flex;

    padding: 0%;
}

.updatePasswordBtn {
    border: none;
    width: 100%;
    font: 300 1rem "Roboto";

    color: white;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

@media screen and (max-height: 820px) {
    .updatePasswordForm > div > input {
        padding: 0.5rem 2rem;
        font: 200 1rem;
    }
    .updatePasswordForm > div > svg:last-child,
    .updatePasswordForm > div > svg {
        font-size: 1rem;
    }

    .updatePasswordForm > input {
        font: 600 1rem "Roboto";
    }
}

@media screen and (max-width: 768px) {
    .updatePasswordContainer {
        background-color: white;
    }
    .updatePasswordUpBox {
        width: 100vw;
        height: 85vh;
        box-shadow: none;
        padding: 1rem;
    }
}

@media screen and (min-height: 1300px) {
    .updatePasswordForm > div > input {
        padding: 2.5rem 5rem;
        font: 300 1.7rem cursive;
    }
    .updatePasswordForm > div > svg:last-child,
    .updatePasswordForm > div > svg {
        font-size: 3rem;
    }

    .updatePasswordForm > input {
        font: 600 2.5rem "Roboto";
    }
}
