* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2200' preserveAspectRatio='none' viewBox='0 0 1440 2200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='1440' height='2200' x='0' y='0' fill='rgba(223%2c 229%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M914.26 1585.12 a6.59 6.59 0 1 0 13.18 0 a6.59 6.59 0 1 0 -13.18 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1098.55 687.99 a2.21 2.21 0 1 0 4.42 0 a2.21 2.21 0 1 0 -4.42 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M721.96 591.35L743.31 591.35L743.31 612.7L721.96 612.7z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M700.64 1568.47 a109.24 109.24 0 1 0 218.48 0 a109.24 109.24 0 1 0 -218.48 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M374.58 1463.09L429.86 1463.09L429.86 1565.1L374.58 1565.1z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M943.37 1563.43L1056.13 1563.43L1056.13 1574.71L943.37 1574.71z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M530.03 126.07a36.31 36.31 0 1 0-29.32-66.44z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M925.7 1448.48a135.7 135.7 0 1 0 223.3-154.26z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M151.28 1326.79L240.8 1326.79L240.8 1437.47L151.28 1437.47z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1157.06 1989.2 a9.84 9.84 0 1 0 19.68 0 a9.84 9.84 0 1 0 -19.68 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M161.85 1134.76L286.99 1134.76L286.99 1259.9L161.85 1259.9z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M343.72 802.3L347.4 802.3L347.4 805.98L343.72 805.98z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M756.41 1135.42a0.34 0.34 0 1 0-0.64 0.23z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M944.66 358.18a131.33 131.33 0 1 0 88.29-247.37z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M413.94 237.69a123.13 123.13 0 1 0 28.39 244.62z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M830.6 977.79L918.71 977.79L918.71 1065.9L830.6 1065.9z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M397.28 107.23 a28.08 28.08 0 1 0 56.16 0 a28.08 28.08 0 1 0 -56.16 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M284.26 1953.46L383.6 1953.46L383.6 1961.17L284.26 1961.17z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1334.87 566.09L1396.93 566.09L1396.93 628.15L1334.87 628.15z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1238.55 493.75L1243.78 493.75L1243.78 534.27L1238.55 534.27z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='1440' height='2200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}

/* chorome, safari ,edge,opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.redColor {
    color: red !important;
}
.greenColor {
    color: green !important;
}
